@custom-variant prose-headings (& :is(h1, h2, h3, h4, th));
@custom-variant prose-lead (& :is([class~="lead"]));
@custom-variant prose-h1 (& :is(h1));
@custom-variant prose-h2 (& :is(h2));
@custom-variant prose-h3 (& :is(h3));
@custom-variant prose-h4 (& :is(h4));
@custom-variant prose-p (& :is(p));
@custom-variant prose-a (& :is(a));
@custom-variant prose-blockquote (& :is(blockquote));
@custom-variant prose-figure (& :is(figure));
@custom-variant prose-figcaption (& :is(figcaption));
@custom-variant prose-strong (& :is(strong));
@custom-variant prose-em (& :is(em));
@custom-variant prose-kbd (& :is(kbd));
@custom-variant prose-code (& :is(code));
@custom-variant prose-pre (& :is(pre));
@custom-variant prose-ol (& :is(ol));
@custom-variant prose-ul (& :is(ul));
@custom-variant prose-li (& :is(li));
@custom-variant prose-table (& :is(table));
@custom-variant prose-thead (& :is(thead));
@custom-variant prose-tr (& :is(tr));
@custom-variant prose-th (& :is(th));
@custom-variant prose-td (& :is(td));
@custom-variant prose-img (& :is(img));
@custom-variant prose-video (& :is(video));
@custom-variant prose-hr (& :is(hr));

@utility prose {
  --tw-prose-body: #374151;
  --tw-prose-headings: #111827;
  --tw-prose-lead: #4b5563;
  --tw-prose-links: #111827;
  --tw-prose-bold: #111827;
  --tw-prose-counters: #6b7280;
  --tw-prose-bullets: #d1d5db;
  --tw-prose-hr: #e5e7eb;
  --tw-prose-quotes: #111827;
  --tw-prose-quote-borders: #e5e7eb;
  --tw-prose-captions: #6b7280;
  --tw-prose-kbd: #111827;
  --tw-prose-kbd-shadows: 17 24 39;
  --tw-prose-code: #111827;
  --tw-prose-pre-code: #e5e7eb;
  --tw-prose-pre-bg: #1f2937;
  --tw-prose-th-borders: #d1d5db;
  --tw-prose-td-borders: #e5e7eb;
  --tw-prose-invert-body: #d1d5db;
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-lead: #9ca3af;
  --tw-prose-invert-links: #fff;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: #9ca3af;
  --tw-prose-invert-bullets: #4b5563;
  --tw-prose-invert-hr: #374151;
  --tw-prose-invert-quotes: #f3f4f6;
  --tw-prose-invert-quote-borders: #374151;
  --tw-prose-invert-captions: #9ca3af;
  --tw-prose-invert-kbd: #fff;
  --tw-prose-invert-kbd-shadows: 255 255 255;
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-pre-code: #d1d5db;
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: #4b5563;
  --tw-prose-invert-td-borders: #374151;

  font-size: 1rem;
  line-height: 1.75;
  color: var(--tw-prose-body);
  max-width: 65ch;

  :not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    &:where(p) {
      margin-top: 1.25em;
      margin-bottom: 1.25em;
    }

    &:where([class~='lead']) {
      color: var(--tw-prose-lead);
      font-size: 1.25em;
      line-height: 1.6;
      margin-top: 1.2em;
      margin-bottom: 1.2em;
    }

    &:where(a) {
      color: var(--tw-prose-links);
      text-decoration: underline;
      font-weight: 500;
    }

    &:where(strong) {
      color: var(--tw-prose-bold);
      font-weight: 600;
    }

    &:where(a strong) {
      color: inherit;
    }

    &:where(blockquote strong) {
      color: inherit;
    }

    &:where(thead th strong) {
      color: inherit;
    }

    &:where(ol) {
      list-style-type: decimal;
      margin-top: 1.25em;
      margin-bottom: 1.25em;
      padding-left: 1.625em;
    }

    &:where(ol[type='A']) {
      list-style-type: upper-alpha;
    }

    &:where(ol[type='a']) {
      list-style-type: lower-alpha;
    }

    &:where(ol[type='A' s]) {
      list-style-type: upper-alpha;
    }

    &:where(ol[type='a' s]) {
      list-style-type: lower-alpha;
    }

    &:where(ol[type='I']) {
      list-style-type: upper-roman;
    }

    &:where(ol[type='i']) {
      list-style-type: lower-roman;
    }

    &:where(ol[type='I' s]) {
      list-style-type: upper-roman;
    }

    &:where(ol[type='i' s]) {
      list-style-type: lower-roman;
    }

    &:where(ol[type='1']) {
      list-style-type: decimal;
    }

    &:where(ul) {
      list-style-type: disc;
      margin-top: 1.25em;
      margin-bottom: 1.25em;
      padding-left: 1.625em;
    }

    &:where(ol > li)::marker {
      font-weight: 400;
      color: var(--tw-prose-counters);
    }

    &:where(ul > li)::marker {
      color: var(--tw-prose-bullets);
    }

    &:where(dt) {
      color: var(--tw-prose-headings);
      font-weight: 600;
      margin-top: 1.25em;
    }

    &:where(hr) {
      border-color: var(--tw-prose-hr);
      border-top-width: 1px;
      margin-top: 3em;
      margin-bottom: 3em;
    }

    &:where(blockquote) {
      font-weight: 500;
      font-style: italic;
      color: var(--tw-prose-quotes);
      border-left-width: 0.25rem;
      border-left-color: var(--tw-prose-quote-borders);
      quotes: '\201C''\201D''\2018''\2019';
      margin-top: 1.6em;
      margin-bottom: 1.6em;
      padding-left: 1em;
    }

    &:where(blockquote p:first-of-type)::before {
      content: open-quote;
    }

    &:where(blockquote p:last-of-type)::after {
      content: close-quote;
    }

    &:where(h1) {
      color: var(--tw-prose-headings);
      font-weight: 800;
      font-size: 2.25em;
      margin-top: 0;
      margin-bottom: 0.8888889em;
      line-height: 1.1111111;
    }

    &:where(h1 strong) {
      font-weight: 900;
      color: inherit;
    }

    &:where(h2) {
      color: var(--tw-prose-headings);
      font-weight: 700;
      font-size: 1.5em;
      margin-top: 2em;
      margin-bottom: 1em;
      line-height: 1.3333333;
    }

    &:where(h2 strong) {
      font-weight: 800;
      color: inherit;
    }

    &:where(h3) {
      color: var(--tw-prose-headings);
      font-weight: 600;
      font-size: 1.25em;
      margin-top: 1.6em;
      margin-bottom: 0.6em;
      line-height: 1.6;
    }

    &:where(h3 strong) {
      font-weight: 700;
      color: inherit;
    }

    &:where(h4) {
      color: var(--tw-prose-headings);
      font-weight: 600;
      margin-top: 1.5em;
      margin-bottom: 0.5em;
      line-height: 1.5;
    }

    &:where(h4 strong) {
      font-weight: 700;
      color: inherit;
    }

    &:where(img) {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    &:where(picture) {
      display: block;
      margin-top: 2em;
      margin-bottom: 2em;
    }

    &:where(kbd) {
      font-weight: 500;
      font-family: inherit;
      color: var(--tw-prose-kbd);
      box-shadow: 0 0 0 1px rgb(var(--tw-prose-kbd-shadows) / 10%),
        0 3px 0 rgb(var(--tw-prose-kbd-shadows) / 10%);
      font-size: 0.875em;
      border-radius: 0.3125rem;
      padding-top: 0.1875em;
      padding-right: 0.375em;
      padding-bottom: 0.1875em;
      padding-left: 0.375em;
    }

    &:where(code) {
      color: var(--tw-prose-code);
      font-weight: 600;
      font-size: 0.875em;
    }

    &:where(code)::before,
    &:where(code)::after {
      content: '`';
    }

    &:where(a code) {
      color: inherit;
    }

    &:where(h1 code) {
      color: inherit;
    }

    &:where(h2 code) {
      color: inherit;
      font-size: 0.875em;
    }

    &:where(h3 code) {
      color: inherit;
      font-size: 0.9em;
    }

    &:where(h4 code) {
      color: inherit;
    }

    &:where(blockquote code) {
      color: inherit;
    }

    &:where(thead th code) {
      color: inherit;
    }

    &:where(pre) {
      color: var(--tw-prose-pre-code);
      background-color: var(--tw-prose-pre-bg);
      overflow-x: auto;
      font-weight: 400;
      font-size: 0.875em;
      line-height: 1.7142857;
      margin-top: 1.7142857em;
      margin-bottom: 1.7142857em;
      border-radius: 0.375rem;
      padding-top: 0.8571429em;
      padding-right: 1.1428571em;
      padding-bottom: 0.8571429em;
      padding-left: 1.1428571em;
    }

    &:where(pre code) {
      background-color: transparent;
      border-width: 0;
      border-radius: 0;
      padding: 0;
      font-weight: inherit;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;
    }

    &:where(pre code)::before {
      content: none;
    }

    &:where(pre code)::after {
      content: none;
    }

    &:where(table) {
      width: 100%;
      table-layout: auto;
      text-align: left;
      margin-top: 2em;
      margin-bottom: 2em;
      font-size: 0.875em;
      line-height: 1.7142857;
    }

    &:where(thead) {
      border-bottom-width: 1px;
      border-bottom-color: var(--tw-prose-th-borders);
    }

    &:where(thead th) {
      color: var(--tw-prose-headings);
      font-weight: 600;
      vertical-align: bottom;
      padding-right: 0.5714286em;
      padding-bottom: 0.5714286em;
      padding-left: 0.5714286em;
    }

    &:where(tbody tr) {
      border-bottom-width: 1px;
      border-bottom-color: var(--tw-prose-td-borders);
    }

    &:where(tbody tr:last-child) {
      border-bottom-width: 0;
    }

    &:where(tbody td) {
      vertical-align: baseline;
    }

    &:where(tfoot) {
      border-top-width: 1px;
      border-top-color: var(--tw-prose-th-borders);
    }

    &:where(tfoot td) {
      vertical-align: top;
    }

    &:where(figure > *) {
      margin-top: 0;
      margin-bottom: 0;
    }
    &:where(figcaption) {
      color: var(--tw-prose-captions);
      font-size: 0.875em;
      line-height: 1.4285714;
      margin-top: 0.8571429em;
    }

    &:where(picture > img) {
      margin-top: 0;
      margin-bottom: 0;
    }

    &:where(video) {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    &:where(li) {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    &:where(ol > li) {
      padding-left: 0.375em;
    }

    &:where(ul > li) {
      padding-left: 0.375em;
    }

    &:where(.prose > ul > li p) {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
    }

    &:where(.prose > ul > li > *:first-child) {
      margin-top: 1.25em;
    }

    &:where(.prose > ul > li > *:last-child) {
      margin-bottom: 1.25em;
    }

    &:where(.prose > ol > li > *:first-child) {
      margin-top: 1.25em;
    }

    &:where(.prose > ol > li > *:last-child) {
      margin-bottom: 1.25em;
    }

    &:where(ul ul, ul ol, ol ul, ol ol) {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
    }

    &:where(dl) {
      margin-top: 1.25em;
      margin-bottom: 1.25em;
    }

    &:where(dd) {
      margin-top: 0.5em;
      padding-left: 1.625em;
    }

    &:where(hr + *) {
      margin-top: 0;
    }

    &:where(h2 + *) {
      margin-top: 0;
    }

    &:where(h3 + *) {
      margin-top: 0;
    }

    &:where(h4 + *) {
      margin-top: 0;
    }

    &:where(thead th:first-child) {
      padding-left: 0;
    }

    &:where(thead th:last-child) {
      padding-right: 0;
    }

    &:where(tbody td, tfoot td) {
      padding-top: 0.5714286em;
      padding-right: 0.5714286em;
      padding-bottom: 0.5714286em;
      padding-left: 0.5714286em;
    }

    &:where(tbody td:first-child, tfoot td:first-child) {
      padding-left: 0;
    }

    &:where(tbody td:last-child, tfoot td:last-child) {
      padding-right: 0;
    }

    &:where(figure) {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    &:where(.prose > :first-child) {
      margin-top: 0;
    }

    &:where(.prose > :last-child) {
      margin-bottom: 0;
    }
  }
}
